<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Hadoop Image Processing Interface/src/org/hipi/examples/SlidingSplit.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.hipi.examples.SlidingSplit"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/hgkumbhare/Desktop/lala/2.jpg /home/hgkumbhare/Desktop/lalaoutput 4 10"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hadoop Image Processing Interface"/>
</launchConfiguration>
